body {
    margin: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: ivory;
    font-size: 1rem; /* Tamaño de fuente base */
    background-color: #18003c;
}

span.verde {
    color: lawngreen;
    font-weight: bold;
}

/* Ajustar el margen para pantallas pequeñas */
@media (max-width: 600px) {
    body {
        margin: 10px; /* Reduce el margen en pantallas pequeñas */
    }
}

/* Ajustar el margen para pantallas medianas */
@media (max-width: 992px) {
    body {
        margin: 15px; /* Ajusta el margen en pantallas medianas */
    }
}

ul {
    list-style-type: none; /* Elimina los puntos de viñeta */
    padding: 0; /* Opcional: elimina el padding predeterminado */
    margin: 0; /* Opcional: elimina el margen predeterminado */
}

marquee, h3 {
    font-size: 1.1rem; /* Ajusta el tamaño del texto del marquee y h3 */
}

/* Estilos para los enlaces de idioma */
.language-links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    white-space: nowrap; /* Evita que los enlaces se rompan en líneas nuevas */
}

.language-links a {
    display: inline; /* Los enlaces aparecerán en la misma línea */
    color: ivory; /* Color inicial de los enlaces */
    margin-right: 10px; /* Espaciado entre los enlaces */
    font-weight: bold;
    text-decoration: none;
}

.language-links a:hover {
    color: lawngreen; /* Cambia a verde cuando pasas el cursor */
}

.language-links a {
    display: block;
    color: lawngreen;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
}

.language-links a:hover {
    color: lightgreen; /* Cambia de color al pasar el ratón */
}
